@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Mukta:wght@200&family=Murecho:wght@300&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none !important;
}
html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
header a{
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 0.9em;
  color: whitesmoke;
}
header {
  background: #000000;
}
header .nav-item:last-child{
  padding-right:10.5em;
}
header .nav-item{
  padding: 0.9em;
}
header .navbar-brand{
  padding-left: 8rem;
}
header .nav-link:hover{
  color:black;
}
header .row .col-md-5{
  padding:3vmin 1vmin;
}
header .row .col-md-7{
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
header .row .col-md5 img{
  width: 100%;
}
header .container .col-md-7 h6{
  padding:1vmin;
  letter-spacing: 4px;
}
header .container .col-md-7 h1{
  font-size: 8vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}
.section-2{
  width:100%;
  height: 108.7vmin;
  background: url(../Assignment4/assets/BGimage3.png);
  background-position: 0rem 0rem;
  background-size: 100%;
  position: relative;
}
.section-2{
  padding:15vmin 0;
}
.section-2 .row .col-md-6 .pray img{
  opacity: 0.9;
  width:100%;
  border-radius:0em;
}
.section-2 .row .col-md-6:last-child{
  position:relative;
}
.section-2 .row .col-md-6 .panel{
  top:7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0,0,0,0.2)
  font-family: 'Murecho', sans-serif;
  z-index: 1;
  margin-bottom: 150px;
}
.cover{
  width:100%;
  height: 100vh;
  background: url(../Assignment4/assets/BGimage2.png);
  background-position: -18rem 60rem;
  background-size: 150%;
  position: relative;
}
.cover .content{
  background: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  padding-top: 19vmin;
}
.cover .content>h1{
  font-family: 'Mukta', sans-serif;
  font-size: 6vmin;
  color: whitesmoke;
}
.cover .content>p{
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 2vmin;
  color: #e5e5e5;
}
.numbers .rect{
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #FF0000, #002888);
  width: 17rem;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 5em;
  box-shadows: 1px 2px 50px 0px rgba(0,0,255,0.349);
}
.numbers{
  margin-top: -28.3vmin;
}
.numbers .rect h1{
  font-size: 5rem;
  color:black;
}
.numbers .rect p{
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
.section-3{
  height: 228vmin;
  margin-top: 0vmin;
  background-color:black;
}
.section-3 .container h1{
  font-size: 6vmin;
  padding-top: 14vmin;
}
.section-3 .team{
  padding: 10vmin 4vmin;

}
.section-3 .card{
  width:22rem;
  margin-top: 10vmin;
}
.section-3 .card .card-text{
  padding: 0.5em;
}
.section-3 .card .card-body{
  font-size: 1.5em;
}
.section-3 .carousel-item{
  padding-left: 3rem;
}
.playlist {
    max-width: 100vw;
    background-color: black;
    height: 80vh;
  }
  .playlist-title {
    text-align: center;
    color: white;
    font-size: 44px !important;
  }
  .music-block {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 15px !important;
  }
  audio {
    margin-top: 25px !important;
    width: 50% !important;
  }

footer{
  background: #05191F;
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}
footer p > span{
  color:white;
}
footer input{
  border: none !important;
}
footer input::placeholder{
  color: white !important;
}
footer .input-group .input-text{
  border: none;
}
